
footer {
	padding: 20px 0
	background: $mainCol
	color: #fff
	.uk-width-1-2 {
		@media (max-width: 991px) {
			width: 100%
			margin-bottom: 20px
			text-align: center
			&:last-child {
				margin-bottom: 0
			}
		}
	}
	p {
		font-size: 14px
		line-height: 19px
		color: #fff
		text-align: left
		margin: 0
		@media (max-width: 991px) {
			text-align: center
		}
	}
	.social {
		display: flex
		margin: 0
		padding: 0
		list-style: none
		justify-content: center
		li {
			margin: 0 10px
			a {
				display: block
				color: #fff
				i {
					margin: 0
				}
			}
		}
	}
	.footer-nav {
		list-style: none
		padding: 0
		text-align: center
		display: flex
		justify-content: flex-end
		width: 100%
		@media (max-width: 991px) {
			justify-content: center
		}
		@media (max-width: 640px) {
			display: block
			text-align: center
		}
		li {
			a {
				padding: 0 30px
				color: #fff
				display: block
				font-size: 14px
				&:hover {
					color: #fff
				}
				@media (max-width: 640px) {
					padding: 10px 0
				}
			}
			&:last-child {
				a {
					padding-right: 0
				}
			}
		}
	}
}