
// header

header {
	//background: #6d6d6d
	background: #6d6d6d
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15)
	img {
		max-width: auto !important
	}
	.uk-logo {
		color: $mainCol
	}
	&.uk-fixed-navigation {
		position: fixed
		right: 0
		left: 0
		top: 0
		z-index: 1030
	}
	nav {
		justify-content: center
		.uk-navbar-brand {
			display: flex
			justify-content: center
			padding: 13px 0
			@media (max-width: 640px) {
				padding: 10px 0
			}
			img {
				height: 54px !important
				width: 54px !important
				margin: auto
				@media (max-width: 640px) {
					height: 40px !important
					width: 40px !important
				}
			}
		}
		.main-nav {
			li {
				a {
					font-size: 18px
					font-weight: 400
					text-transform: inherit
					padding: 15px 50px
					color: #fff
					transition all 0.3s
					min-height: 56px
					@media (min-width 960px) {
						padding: 15px 25px
					}
					@media (max-width: 640px) {
						min-height: 60px
					}
					&:hover {
						color: $mainCol
					}
				}
				&.uk-active {
					a {
						color: $mainCol
					}
				}
				&:last-child {
					a {
						padding-right: 0
						padding-left: 150px
						img {
							width: 28px !important
							height: 20px !important
						}
						@media (min-width 960px) {
							padding-left: 50px
						}
					}
				}
			}
		}
	}
}

.topbar {
	padding: 15px 0
	border-bottom: 0.3px solid rgba(255,255,255, 0.3)
	.topbar-grid-item {
		@media (max-width: 640px) {
			width: 100%
			text-align: center !important
			display: block
		}
		.uk-logo {
			font-weight: 700
			font-size: 24px
			font-family: $robC
			@media (min-width: 640px) and (max-width: 992px) {
				font-size: 18px
			}
			@media (max-width: 640px) {
				margin: 20px 0
			}
		}
		a, p {
			margin: 0
			color: #fff
			text-decoration: none
			display: block
			line-height: 30px
			font-size: 14px
			@media (min-width: 640px) and (max-width: 992px) {
				font-size: 13px
			}
			@media (max-width: 640px) {
				display: inline-block
				margin: 0 10px
			}
		}
		a {
			text-align: left
			&.uk-logo {
				text-align: center
			}
		}
		p {
			text-align: right
		}
		span {
			i {
				margin-right: 10px
				@media (min-width: 640px) and (max-width: 992px) {
					font-size: 18px
				}
			}
		}
	}
}

.material-icons {
    vertical-align: middle
}

.main-nav {
	background: #fff
	nav.uk-navbar {
		justify-content: space-between
		ul {
			li {
				a {
					color: #1e2331
					min-height: 60px
					padding: 0 40px
					text-transform: capitalize
					font-size: 15px
					&:hover {
						color: $mainCol
					}
					@media (min-width: 640px) and (max-width: 992px) {
						padding: 0 20px
					}
					@media (max-width: 640px) {
						padding: 0 10px
						font-size: 14px
						min-height: 40px
					}
				}
				&:first-child {
					a {
						padding-left: 0
					}
				}
			}
		}
		.social {
			justify-content: right
			@media (max-width: 640px) {
				display: none
			}
			li {
				a {
					padding: 0 15px
					i {
						margin: 0 !important
					}
					@media (min-width: 640px) and (max-width: 992px) {
						padding: 0 7px
					}
				}
				&:first-child {
					a {
						padding-left: 15px
					}
				}
				&:last-child {
					a {
						padding-right: 0
					}
				}
			}
		}

	}
}