
section.video {
	margin-top: 80px
	max-height 862px
	position: relative
	@media (max-width: 640px) {
		margin-top: 60px
	}
	.down {
		bottom: 60px
		left: 50%
		margin-left: -28px
		position: absolute
		@media (max-width: 640px) {
			bottom: 20px
		}
		img {
			height: 56px
			width: 56px
		}
	}
}

.about-page-carousel {
	position: relative
	.uk-slider-nav {
		position: absolute
		bottom: 80px
		left: 0
		right: 0
		margin: 0 auto !important
		max-width 1200px
		justify-content: left
		padding: 0 0 0 240px
		overflow: hidden
		@media (min-width: 960px) and (max-width: 1440px)  {
			bottom: 40px
			padding: 0 0 0 100px
		}
		@media (min-width: 640px) and (max-width: 960px) {
			bottom: 15px
			padding: 0 0 0 70px
		}
		@media (max-width: 640px) {
			bottom: 10px
			padding: 0 0 0 50px
		}
		li {
			padding-left: 25px
			justify-content: center
			display: flex
			position: relative
			a {
				width: 12px
				height: 12px
				align-self: center
				background: #fff
				transition: all 0.3s
				@media (max-width: 960px) {
					width: 8px
					height: 8px
				}
			}
			&.uk-active {
				a {
					width: 26px
					height: 26px
					@media (max-width: 960px) {
						width: 16px
						height: 16px
					}
				}
			}
			&:before {
				content: ''
				display: block
				position: absolute
				height: 2px
				width: 100%
				background: #fff
				top: 50%
				margin-top: -1px
				left: 0
				right: 0
			}
			&:first-child {
				&:before {
					display: none
				}
			}
			&:last-child {
				&:after {
					position: absolute
					right: -1200px
					width: 1100px
					height: 2px
					top: 50%
					margin-top: -1px
					content: ''
					background: #fff
					@media (max-width: 960px) {
						right: -1150px
					}
				}
			}
		}
	}
	.carousel-content {
		max-width 1200px !important
		@media (min-width: 1200px) {
			top: 60%
		}
		h2 {
			font-size: 64px
			font-weight: 700
			max-width: 60%
			margin-left: 10%
			@media (min-width: 960px) and (max-width: 1440px) {
				font-size: 36px
			}
			@media (min-width: 640px) and (max-width: 960px) {
				font-size: 24px
				max-width 70%
			}
			@media (max-width: 640px) {
				font-size: 18px
				max-width 90%
				margin: 0 0 0 10%
			}
		}
		p {
			font-size: 24px
			font-weight: 400
			max-width: 60%
			margin-left: 10%
			@media (min-width: 960px) and (max-width: 1440px) {
				font-size: 20px
			}
			@media (min-width: 640px) and (max-width: 960px) {
				font-size: 14px
			}
			@media (max-width: 640px) {
				font-size: 13px
				margin-top: 5px
				max-width: 90%
			}
		}
	}
	.line-title {
		top: 80px
		position: absolute
		left: 0
		right: 0
		z-index: 1
		@media (min-width: 960px) and (max-width: 1440px) {
			top: 40px
		}
		@media (min-width: 640px) and (max-width: 960px) {
			top: 15px
			font-size: 24px
		}
		@media (max-width: 640px) {
			top: 10px
			font-size: 18px
		}
	}
}

.about-page-text {
	padding: 80px 0
	@media (max-width: 640px) {
		padding: 40px 0
	}
	img {
		margin: 0 auto
		display: block
	}
	p {
		font-size: 14px
	}
	.uk-width-1-3, .uk-width-2-3 {
		width: 100%
		margin-bottom: 20px
	}
}

.about-awards {
	padding: 40px 0 80px
	background: #ECECEC
	@media (max-width: 640px) {
		padding: 30px 0
	}
	.line-title {
		margin-bottom: 50px
		@media (max-width: 640px) {
			margin-bottom: 25px
		}
	}
	.awards-slider {
		li {
			width: 318px
			height: 218px
			margin: 0 10px
			@media (max-width: 640px) {
				width: 222px
				height: 152px
			}
			img {
				width: 318px
				height: 218px
				@media (max-width: 640px) {
					width: 222px
					height: 152px
				}
			}
		}
	}
}

.dates {
	background: #444
	overflow: hidden
	.dates-container {
		overflow: hidden
		display: flex
	}
	.slick-slide {
	    color: #fff
	    padding: 0
		h3 {
			color: #fff
			font-size: 32px
			font-weight: 700
			padding: 0
			text-align: center
		}
		&.slick-current {
			h3 {
				font-size: 40px
			}
		}
	}
	.slick-prev:before,
	.slick-next:before {
	    color: black
	}
	.slick-current {
		font-weight: 700
	}
	.slick-dots {
	    display: none
	}
	.container {
		display: flex
	}
	.slider-nav {
		width: 30%
	}
	.slider-for {
		width: 70%
		min-height: 100%
	}
	.slider-for .slick-list {
		height: 100%
		margin: 0
		overflow: hidden !important
		font-size: 0
	}
	.slider-for .slick-track {
		height: 100%
	}
	.slider-for .slick-current {
		min-height: 100%
		align-self: center
		vertical-align: middle
		padding: 0 !important
	}
	.slider-nav .slick-track {
		padding: 30px 0
	}
	.slick-arrow {
		display: none !important
		position: absolute
		font-size: 0
		line-height: 0
		height: 56px
		width: 56px
		//background: url(../svg/chevron-down.svg) center no-repeat
	}
	.slick-list {
		height: 300px
	}
	.draggable {
		&:before, &:after {
			display: none
			content: ''
			position: absolute
			height: 100px
			width: 100%
			left: 0
			right: 0
			background: rgba(0, 0, 0, 0.2);
			filter: blur(62px)
			z-index: 11
		}
		&:before {
			top: 0
		}
		&:after {
			bottom: 0
		}
	}
}

