
.feedback {
	margin-top: 80px
	padding-bottom: 80px
	@media (max-width: 640px) {
		margin-top: 60px
	}
	.line-title {
		padding: 40px 0 50px
	}
	.left, .right {
		@media (max-width: 640px) {
			width: 100%
			display: block
		}
		&.left {
			@media (max-width: 640px) {
				margin-bottom: 30px
			}
		}
	}
	p {
		font-size: 18px
		line-height: 19px
		color: #5A5A5A
		@media (max-width: 640px) {
			font-size: 14px
			line-height: 15px
			text-align: center
			margin: 10px auto
		}
	}
	h3 {
		font-size: 24px
		font-weight: 700
		line-height: 25px
		color: #5A5A5A
		padding: 0 0 30px
		@media (max-width: 640px) {
			text-align: center
			font-size: 18px
			line-height: 19px
			padding: 20px 0 20px
		}
	}
	img {
		margin: 80px auto 0
		display: block
		@media (max-width: 640px) {
			margin: 30px auto
		}
	}
	.review-block {
		padding: 0
		@media (max-width: 960px) {
			width: 100%
			box-sizing: border-box
			padding-left: 30px
		}
	}
	.empty {
		@media (max-width: 960px) {
			display: none
		}
	}
	form {
		display: block
		width: 100%
		@media (max-width: 640px) {
			width: 80%
			margin: 0 auto
		}
		input, textarea {
			background: #FCFCFC
			box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05)
			border-radius: 3px
			display: block
			width: 100%
			border: 0
			height: 40px
			line-height: 40px
			font-size: 18px
			color: #5A5A5A
			padding: 0 10px
			margin-bottom: 20px
			box-sizing: border-box
			@media (max-width: 640px) {
				margin-bottom: 10px
				font-size: 14px
			}
			&::placeholder {
				font-family: $rob
			}
		}
		textarea {
			height: auto
			min-height 280px
			padding: 10px
			@media (max-width: 640px) {
				min-height: 140px
			}
		}
	}
	.main-btn {
		float: right
	}
}