
/********** Главная страница *********/

// main carousel block

.main-carousel {
	.uk-dotnav {
		position: absolute
		bottom: 0
		left: 0
		right: 0
		margin-bottom: 25px
		li {
			a {
				width: 12px
				height: 12px
				background: #EDEDED
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25)
			}
			&.uk-active {
				a {
					background: #00A651
				}
			}
		}
	}
	.slider-title {
		height: 100%
		display: flex
		flex-flow: column
		justify-content: center
		h2, p {
			text-align: left
			max-width: 50%
			color: #fff
			@media (min-width: 640px) and (max-width: 992px) {
				max-width: 70%
			}
			@media (max-width: 640px) {
				max-width: 100%
			}
		}
		h2 {
			@media (min-width: 640px) and (max-width: 992px) {
				font-size: 24px
			}
			@media (max-width: 640px) {
				font-size: 18px
			}
		}
		p {
			@media (min-width: 640px) and (max-width: 992px) {
				font-size: 14px
			}
			@media (max-width: 640px) {
				font-size: 13px
			}
		}
		a {
			display: inline-block !important
		}
	}
}
.uk-slider-items.uk-grid {
	@media (min-width: 640px) and (max-width: 992px) {
		min-height: 300px !important
	}
	@media (max-width: 640px) {
		min-height: 270px !important
	}
}

aside {
	@media (min-width: 640px) and (max-width: 992px) {
		width: 40% !important
	}
	@media (max-width: 640px) {
		width: 100% !important
	}
	.uk-panel {
		padding: 10px
		.uk-panel-title {
			padding: 5px 15px
		}
		ul {
			li {

				a {
					padding: 5px 15px
					color: #1fa2d6
					font-size: 14px
					line-height: 16px
					&:hover {
						color: $mainCol
					}
				}
			}
		}
		.banner {
			margin: 0 15px
			display: block
			color: #1e2331
			img {
				display: block
				width: 100%
				height: auto
				margin-bottom: 10px
			}
			span {
				display: block
				font-size: 14px
				line-height: 16px
			}
		}
	}
}

.main-content {
	padding-left: 0
	@media (min-width: 640px) and (max-width: 992px) {
		width: 60% !important
	}
	@media (max-width: 640px) {
		width: 100% !important
		padding-left: 30px
	}

	main {
		margin: 0
	}
	.news-item {
		padding: 20px 40px
		text-decoration: none
		color: #1e2331
		@media (min-width: 640px) and (max-width: 992px) {
			width: 100% !important
			margin: 0
			padding-bottom: 10px
		}
		@media (max-width: 640px) {
			width: 100% !important
			margin: 0
			padding: 20px 20px 10px
		}
		&:hover {
			h4 {
				text-decoration: underline
				color: $mainCol
			}
		}
		.img-wrapper {
			max-height 300px
			overflow: hidden
			position: relative
			border: 5px solid #fff
			img {
				object-fit contain
			}
		}
		.date {
			display: block
			font-size: 13px
			margin: 5px 0
			color: #1e2331
			text-decoration: none
		}
	}
	.text {
		padding: 0 40px
		@media (max-width: 640px) {
			padding: 0 20px
		}
	}
}

.text {
	padding: 30px 0
	p {
		margin: 20px 0
		strong {
			margin: 0 5px
		}
		a {
			margin: 0 5px
		}
	}
	ul {
		padding: 0
		list-style: none
		text-align: center
		li {
			display: inline-block
			margin: 0 5px
			a {
				width: 200px
				height: 200px
				display: block
				img {
					object-fit: contain
				}
			}
		}
	}
}

.container {
	padding-bottom: 200px
	@media (max-width: 992px) {
		padding-bottom: 100px
	}
}
.news-item {
	padding: 10px
	text-decoration: none
	color: #1e2331
	margin-bottom: 20px
	&:hover {
		color: #1e2331
		text-decoration: none
		h4 {
			text-decoration: underline
			color: $mainCol
		}
	}
	p {
		text-decoration: none
	}
	.img-wrapper {
		max-height 300px
		overflow: hidden
		position: relative
		img {
			object-fit contain
		}
	}
	.date {
		display: block
		font-size: 13px
		margin: 5px 0
		color: #1e2331
		text-decoration: none
	}
}
.news, .partners, .contacs {
	padding: 40px 0
	@media (max-width: 640px) {
		padding-bottom: 0
	}
	h1 {
		margin-top: 20px
		margin-bottom: 30px
	}
}
.contacs {
	p {
		position: relative
		padding-left: 40px
		margin-bottom: 30px
		i {
			margin-right: 10px
			position: absolute
			top: 50%
			margin-top: -12px
			left: 0
		}
	}
	@media (max-width: 992px) {
		.uk-width-1-3 {
			margin-bottom: 30px
			p {
				max-width: 40%
				margin: 0 auto 20px
			}
		}
		.uk-width-1-3, .uk-width-2-3 {
			width: 100%
		}
	}
	@media (max-width: 640px) {
		.uk-width-1-3 {
			p {
				min-width: 50%
			}
		}
	}
}

.feedback {
	padding-bottom: 50px
	h2 {
		margin-top: 20px
		margin-bottom: 30px
	}
	form {
		//width: 60%
		width: 80%
		margin: 0 auto
		min-width: 300px
		input, textarea {
			display: block
			padding: 0 10px
			height: 36px
			line-height: 36px
			font-size: 14px
			width: 100%
			margin-bottom: 10px
			border: 0
			&::placeholder {
				font-family: $rob
			}
		}
		textarea {
			min-height: 160px
			height: auto
		}
	}
}

.uk-pagination {
	margin-left: 20px
	@media (max-width: 640px) {
		margin: 0
	}
	li.uk-active {
		a, span {
			color: $mainCol
		}
	}
	a {
		color: #1e2331
		&:hover {
			color: $mainCol
		}
	}
}