.news-page {
	padding: 80px 0
	text-align: center
	@media (max-width: 640px) {
		padding: 80px 0 40px
	}
	h1 {
		text-align: center
		font-weight: bold
		font-size: 32px
		line-height: 34px
		color: #5A5A5A
		padding: 40px 0
	}
	.news-container {
		padding-bottom: 40px
	}
	&.single {
		.link {
			font-size: 14px
			line-height: 15px
			text-decoration: underline
			color: #5A5A5A
			margin: 20px 0 40px
			display: block
			text-align: left
			@media (min-width: 640px) and (max-width: 960px) {
				margin: 30px 0 15px
			}
			@media (max-width: 640px) {
				margin: 10px 0 20px
			}
		}
		.single-news-content {
			padding: 0 60px 0 120px
			text-align: left
			@media (min-width: 960px) and (max-width: 1180px) {
				padding: 0 30px
			}
			@media (min-width: 640px) and (max-width: 960px) {
				padding: 0 10px 0 0
			}
			@media (max-width: 640px) {
				padding: 0
			}
			img {
				width: 100%
				height: auto
			}
		}
		h1 {
			font-size: 24px
			line-height: 25px
			color: #5A5A5A
			text-align: left
			padding-bottom: 30px
			@media (min-width: 640px) and (max-width: 960px) {
				padding-bottom: 10px
				font-size: 18px
				line-height: 19px
			}
		}
		span.date {
			font-weight: 500
			font-size: 18px
			line-height: 19px
			color: #5A5A5A
			margin: 20px 0
			display: block
			@media (min-width: 640px) and (max-width: 960px) {
				font-size: 15px
				left: 15px
				margin: 10px 0
			}
		}
		p {
			font-size: 14px
			line-height: 15px
			color: #5A5A5A
			margin-bottom: 20px
			@media (min-width: 640px) and (max-width: 960px) {
				margin: 10px 0
				font-size: 13px
			}
		}
		.single-news-item {
			&.right {
				padding-left: 0
				@media (max-width: 640px) {
					width: 100%
					padding: 0 0 0 30px
				}
		    }
			&.left {
				@media (max-width: 640px) {
					width: 100%
					padding: 0 0 0 30px
				}
			}
		}
		.single-news-sidebar {
			margin-top: 40px
			padding: 0 70px
			position: relative
			overflow: hidden
			@media (min-width: 960px) and (max-width: 1180px) {
				padding: 0 40px
			}
			@media (min-width: 640px) and (max-width: 960px) {
				padding: 0 20px
				margin-top: 10px
			}
			@media (max-width: 640px) {
				margin: 0
				padding: 0
			}
			&:before, &:after {
				height: 100%
				width: 1px
				background: #C4C4C4
				content: ''
				position: absolute
				top: 55px
				bottom: 0
				@media (max-width: 640px) {
					display: none
				}
			}
			&:before {
				left: 5px
			}
			&:after {
				right: 5px
			}
		}
		.news-item {
			background: #FFFFFF
			box-shadow: 0 4px 12px rgba(163, 222, 214, 0.25)
			text-align: left
			margin-bottom: 40px
			display: block
			text-decoration: none
			@media (min-width: 640px) and (max-width: 960px) {
				margin-bottom: 10px
			}
			@media (max-width: 640px) {
				margin-bottom: 20px
			}
			.img-wrapper {
				height: 160px
				position: relative
				overflow: hidden
				img {
					width: 100%
					height: 100%
					object-fit cover
				}
				span.date {
					color: #fff
					left: 0
					right: 0
					bottom: 0
					padding: 10px
					display: block
					font-size: 14px
					position: absolute
					text-align: left
				}
			}
			h4 {
				font-size: 14px
				font-weight: 500
				color: #5A5A5A
				padding: 10px
			}
			p {
				font-size: 12px
				line-height: 13px
				color: #5A5A5A
				padding: 0 10px 30px 10px
				margin: 0
			}
		}
		.news-item:last-child {
			margin-bottom: 0 !important
		}
	}
}
