.production-page {
	padding: 80px 0
	@media  (max-width: 960px) {
		padding: 80px 0 30px
	}
	.line-title {
		margin: 40px 0
	}
	.uk-width-1-3 {
		@media (max-width: 960px) {
			width: 100%
		}
	}
	.production-item {
		position: relative
		overflow: hidden
		@media (min-width: 640px) and (max-width: 960px) {
			width: 350px
			margin: 0 auto 20px
		}
		@media (max-width: 640px) {
			width: 270px
			margin: 0 auto 20px
		}
		.img-wrapper {
			font-size: 0
			position: relative
			overflow: hidden
			img {
				display: block
				margin: 0
				width: 100%
				height: auto
			}
		}
		h3 {
			position: absolute
			bottom: 25px
			font-size: 24px
			line-height: 25px
			text-align: center
			text-transform: uppercase
			color: #FFFFFF
			left: 0
			right: 0
			opacity: 1
			transition: all 0.3s
		}
		.content {
			position: absolute
			bottom: -101%
			left: 0
			height: 100%
			right: 0
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 52.47%, rgba(0, 0, 0, 0.7) 100%)
			font-size: 14px
			line-height: 15px
			color: #FBFBFB
			transition: all 0.5s
			@media (max-width: 640px) {
				position: static
				padding: 20px
			}
			h4 {
				color: #fff
				font-size: 24px
				text-transform: uppercase
				margin: 40px 50px
				font-weight: 700
				text-align: center
				@media (min-width: 960px) and (max-width: 1180px) {
					margin: 20px
				}
				@media (max-width: 640px) {
					margin: 0 0 20px
				}
			}
			p {
				margin: 0 50px 40px
				@media (min-width: 960px) and (max-width: 1180px) {
					margin: 0 30px 30px
				}
				@media (max-width: 640px) {
					margin: 0
				}
			}
		}
		&:hover {
			h3 {
				opacity: 0
				@media (max-width: 640px) {
					opacity: 1
				}
			}
			.content {
				bottom: 0
			}
		}
	}
}