* {outline: 0}

$rob = 'Roboto', sans-serif
$robC = 'Roboto Condensed', sans-serif
//$mainCol = #db0e0e
$mainCol = #db0e0e
$mainCol2 = #bc0808

html, body {
	background: #f1f1f1
	font-family: $rob
	overflow-x: hidden
}

a {transition: all 0.3s}
h1, h2, h3, h4, h5, h6 {
	margin: 0
	font-weight: 700
}
p {
	color: #1e2331
}
h1 {
	font-size: 36px
	font-weight: 700
}
h2 {font-weight: 700}
h3 {
	font-size: 18px
	font-weight: 700
	padding: 20px
	@media (min-width: 768px) and (max-width: 991px) {
		padding: 10px
		font-size: 16px
	}
}
.p0 {padding: 0 !important}
.mt0 {margin-top: 0 !important}
.mt10 {margin-top: 10px}
.mt80 {margin-top: 80px}
.no-padding {padding: 0}

.main-btn {
	font-size: 16px
	color: #fff
	padding: 0 25px
	border: 0
	background: $mainCol
	line-height: 38px
	display: inline-block
	text-transform: capitalize
	&:hover, &:active {
		text-decoration: none
		color: #fff
		background: $mainCol2
	}
	@media (max-width: 640px) {
		line-height: 32px
		font-size: 14px

	}
}

h2.line-title {
	text-align: center
	color: #fff
	font-size: 32px
	line-height: 34px
	font-weight: 700
	&.dark {
		color: #1e2331 !important
		span {
			&:before, &:after {
				background: #1e2331 !important
			}
		}
	}
	span {
		padding: 0 30px
		position: relative
		&:before, &:after {
			content: ''
			display: block
			height: 2px
			position: absolute
			width: 1000px
			background: #fff
			top: 50%
			margin-top: -1px
		}
		&:before {
			left: 100%
		}
		&:after {
			right: 100%
		}
	}
}

.pulse {
    animation-name: pulse_animation
    animation-duration: 1000ms
    transform-origin:70% 70%
    animation-iteration-count: infinite
    animation-timing-function: linear
}
@keyframes pulse_animation {
    0% { transform: scale(1) }
    50% { transform: scale(1.2) }
    100% { transform: scale(1) }
}