aside.uk-width-1-4.uk-pull-3-4
    .uk-panel.uk-panel-box
        h3.uk-panel-title Наши услуги
        h5.uk-panel-title  Заголовок
        ul.uk-nav.uk-nav-parent-icon.uk-nav-side(data-uk-nav='{}')
            li
                a(href='#')
                    span.image-title Информация для физических лиц
            li
                a(href='#')
                    span.image-title Информация для юридических лиц
    .uk-panel.uk-panel-box
        h5.uk-panel-title  Заголовок
        ul.uk-nav.uk-nav-parent-icon.uk-nav-side(data-uk-nav='{}')
            li
                a.vmstyle(href='#') Лаборатория по испытаниям гражданского и служебного оружия
            li
                a(href='#')
                    span.image-title Информация для юридических лиц
            li
                a(href='#')
                    span.image-title Информация для физических лиц
    .uk-panel.uk-panel-box
        h3.uk-panel-title Баннеры
        a(href='#').banner
            img(src='static/jpg/fb.jpg')
            span Лаборатория по испытаниям гражданского и служебного оружия по испытаниям гражданского и служебного оружия по испытаниям гражданского и служебного оружия