| {% load staticfiles %}

section.main-carousel.uk-margin-bottom
    .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1', uk-slider='center: true; autoplay: true')
        ul.uk-slider-items.uk-grid.uk-grid-match(uk-height-viewport='offset-top: true; offset-bottom: 30; min-height: 460')
            li.uk-width-1-1
                .uk-cover-container
                    img(src='static/jpg/main-slider-img-1.jpg', alt='', uk-cover='')
                    .uk-container.slider-title
                        .slider-title-wrapper
                            h2(uk-slider-parallax='x: 100,-100') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            p(uk-slider-parallax='x: 200,-200') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            div(uk-slider-parallax='x: 200,-200')
                                a.uk-button.main-btn(href='#') Link
            li.uk-width-1-1
                .uk-cover-container
                    img(src='static/jpg/main-slider-img-2.jpg', alt='', uk-cover='')
                    .uk-container.slider-title
                        .slider-title-wrapper
                            h2(uk-slider-parallax='x: 100,-100') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            p(uk-slider-parallax='x: 200,-200') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            div(uk-slider-parallax='x: 200,-200')
                                a.uk-button.main-btn(href='#') Link
        a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slider-item='previous')
        a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slider-item='next')
        //ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin