extends base.pug

| {% load staticfiles %}

block content
    .contacs.single
        .uk-container
            h1.uk-text-center Контакты
            .text.uk-grid
                .uk-width-1-3
                    p
                        i.material-icons local_phone
                        span
                            | Телефоны:
                            br
                            | +996 555 54 33 22
                            br
                            | +996 555 54 33 22
                    p
                        i.material-icons email
                        span
                            | E-mail:
                            br
                            | info@gmail.com
                    p
                        i.material-icons access_time
                        span Время работы:
                            br
                            | ПН-ПТ: 09:00 - 18:00
                    p
                        i.material-icons place
                        span
                            | Адрес:
                            br
                            | Бишкек, Чуй 235А
                .uk-width-2-3.maps
                    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d534.2180697196!2d74.62915663099278!3d42.919963047151704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1557954791483!5m2!1sru!2skg', width='100%', height='360px', frameborder='0', style='border:0', allowfullscreen='')
            .feedback
                h2.uk-text-center Обратная связь
                form.uk-text-center
                    input(type='text' placeholder='Ваше Имя')
                    input(type='email' placeholder='Ваш email')
                    textarea(placeholder='Введите текст')
                    button.main-btn Отправить
block js


