extends base.pug

| {% load staticfiles %}

block content

    include components/main/slider
    .container.uk-grid
        include components/main/sidebar
        include components/main/content



block js
    script.

        $(document).ready(function () {
            AOS.init({
                once: true
            });
        });


