extends base.pug

| {% load staticfiles %}

block content
    .news
        .container.uk-grid
            include components/main/sidebar
            .uk-width-3-4.uk-push-1-4.main-content
                h1.uk-text-center Новости
                main.uk-grid
                    a(href='/single').uk-width-1-2.news-item
                        .img-wrapper
                            img(src='static/jpg/img-1.jpg')
                        span.date 23.06.2018
                        h4 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    a(href='/single').uk-width-1-2.news-item
                        .img-wrapper
                            img(src='static/jpg/img-2.jpg')
                        span.date 15.11.2019
                        h4 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    a(href='/single').uk-width-1-2.news-item
                        .img-wrapper
                            img(src='static/jpg/img-1.jpg')
                        span.date 15.11.2019
                        h4 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    a(href='/single').uk-width-1-2.news-item
                        .img-wrapper
                            img(src='static/jpg/img-1.jpg')
                        span.date 23.06.2018
                        h4 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    a(href='/single').uk-width-1-2.news-item
                        .img-wrapper
                            img(src='static/jpg/img-2.jpg')
                        span.date 15.11.2019
                        h4 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    a(href='/single').uk-width-1-2.news-item
                        .img-wrapper
                            img(src='static/jpg/img-1.jpg')
                        span.date 15.11.2019
                        h4 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    ul.uk-pagination(uk-margin='')
                        li
                            a(href='#')
                                span(uk-pagination-previous='')
                        li
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li.uk-active
                            span 3
                        li
                            a(href='#')
                                span(uk-pagination-next='')

block js


