extends base.pug

| {% load staticfiles %}

block content
    .partners
        .container.uk-grid
            include components/main/sidebar
            .uk-width-3-4.uk-push-1-4.main-content
                h1.uk-text-center Партнерство
                h2.uk-text-center Партнерство
                h3.uk-text-center Партнерство
                h4.uk-text-center Партнерство
                h5.uk-text-center Партнерство
                h6.uk-text-center Партнерство
                .text
                    img(src='static/jpg/main-slider-img-2.jpg')
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                    ul
                        li
                            a(href='#')
                                img(src='static/png/logo.png')
                        li
                            a(href='#')
                                img(src='static/png/logo.png')
                        li
                            a(href='#')
                                img(src='static/png/logo.png')
                        li
                            a(href='#')
                                img(src='static/png/logo.png')
                    img(src='static/jpg/main-slider-img-2.jpg')
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                    p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает,
                        strong как много веб-страниц
                        | всё ещё дожидаются своего настоящего рождения.
                        i За прошедшие годы текст Lorem Ipsum
                        | получил много версий. Некоторые
                        a(href='#') версии появились по ошибке,
                        | некоторые - намеренно (например, юмористические варианты).

block js


