| {% load staticfiles %}

footer
    .uk-container
        .uk-grid
            .uk-width-1-2
                p 2018 © All Rights Reserved by Themexriver
            .uk-width-1-2
                ul.footer-nav
                    li
                        a(href='/') Главная
                    li
                        a(href='/') Партнеры
                    li
                        a(href='/') Новости
                    li
                        a(href='/') Контакты


