| {% load staticfiles %}

header
	.uk-container
		.topbar
			.uk-grid.topbar-grid
				.uk-width-1-3.topbar-grid-item.uk-text-left
					a(href='tel:+996555443322')
						span
							i.material-icons local_phone
							| +996 555 54 33 22
					a(href='mailto:info@gmail.ru')
						span
							i.material-icons email
							| info@gmail.com
				.uk-width-1-3.topbar-grid-item.uk-text-center
					a(href='/').uk-logo
						| Кыргызский Центр
						br
						| Сертификации Оружия
				.uk-width-1-3.topbar-grid-item.uk-text-right
					p
						span
							i.material-icons access_time
							| ПН-ПТ: 09:00 - 18:00
					p
						span
							i.material-icons place
							| Бишкек, Чуй 235А

.main-nav
	.uk-container
		nav.uk-navbar
			ul.uk-navbar-nav.uk-hidden-small
				li.uk-active
					a(href='/') Главная
				li
					a(href='/partners') Партнеры
				li
					a(href='/news') Новости
				li
					a(href='/contacts') Контакты
			ul.uk-navbar-nav.social
				li
					a(href='#')
						i.uk-margin-small-right.uk-icon(uk-icon='facebook')
				li
					a(href='#')
						i.uk-margin-small-right.uk-icon(uk-icon='instagram')
				li
					a(href='#')
						i.uk-margin-small-right.uk-icon(uk-icon='twitter')


